{% extends 'delicious/base.html' %}

{% block content %}
{% load static %}
<div style="background-color: black;">
    <div class="container my-5">
        <div class="row">
         <div class="col-sm-6 text-center align-self-center">
          <img src="{% static 'delicious/chandu.png' %}" alt="" class="img-fluid img-thumbnail">
         </div>
         <div class="col-sm-5 offset-sm-1">
          <h2 style="color: white;">Daiwala Siri Chandana</h2>
          <hr>
          <p style="color: white;">Everything began in 2012 when the proprietor opened her first espresso and doughnut and sandwich shop. It was gigantically fruitful and this driven him to begin another shop called 'YUMMY TUMMY'. At very young age she started this business now she is 22years old but her success and fame are more than her age.And this online business made her so mature and gave employement to so many people and now so many people are working under her. </p> <br>
          
       
           
            
          
          
          <h5 class="mt-5" style="color: white;">Awards Won</h5>
          <ul style="color: white;">
           <li>Best Business Women of the year in 2015.</li>
           <li>Special Face Fresh in Business in 2013.</li>
          
           <li>Best Online Business Women of the year in 2020.</li>
          </ul>
         </div>
        </div>
       </div>
    </div> <br> <br>
    <div style="background-color: black;">
        <div class="container my-5">
            <div class="row">
             <div class="col-sm-6 text-center align-self-center">
              <img src="{% static 'delicious/online.jpg' %}" alt="" class="img-fluid img-thumbnail">
             </div>
             <div class="col-sm-5 offset-sm-1">
              <h2 style="color: white;">YUMMY TUMMY</h2>
              <hr>
              <p style="color: white;">“We ought to be about something beyond moving chicken. We ought to be a piece of our clients’ lives and the networks in which we serve.”

                Our originator, settled on the choice to open on Sundays in 2012 when she opened his first eatery in Telangana, India. Having worked seven days seven days in eateries open 24 hours, Truett saw the significance of shutting on Sundays with the goal that he and his representatives could set aside one day to rest and love whether they pick – a training we maintain today. It is very easy to people to order on online and less time consuming. </p> <br>
              
           
               
                
              
              
              <h5 class="mt-5" style="color: white;">Ordering Food</h5>
              <ul style="color: white;">
               <li>We’re glad for our India legacy, and all the more explicitly that we consider Atlanta.</li>
               <li>The ‘YUMMY TUMMY’ Backstage Tour offers a genuine narrating background roused</li>
              
               <li>From our neighborly individuals and delightful food to the irresistible “Eat Mor Chikin”</li>
              </ul>
             </div>
            </div>
           </div>
        </div> <br>
        <div style="background-color: black;">
            <div class="container my-5">
                <div class="row">
                 <div class="col-sm-6 text-center align-self-center">
                  <img src="{% static 'delicious/meal.jpg' %}" alt="" class="img-fluid img-thumbnail">
                 </div>
                 <div class="col-sm-5 offset-sm-1">
                  <h2 style="color: white;">Food Comes First</h2>
                  <hr>
                  <p style="color: white;">Consistently, in excess of 11 million visitors visit ‘Organization Name’  eateries around the globe. What’s more, they do as such in light of the fact that our eateries are known for serving astounding, incredible tasting, and reasonable food.

                    Established in 1954, ‘YUMMY TUMMY’ is the second biggest fast food chain on the planet. The first home of customary burgers, our promise to premium fixings, signature formulas, and family-accommodating feasting encounters is the thing that has characterized our image for in excess of 50 fruitful years. </p> <br>
                  
               
                   
                    
                  
                  
                  <h5 class="mt-5" style="color: white;">Happy Food</h5>
                  <ul style="color: white;">
                   <li>In 2013, 3G Capital, a worldwide multi-million dollar speculation firm centered around.</li>
                   <li>Long haul esteem creation, obtained ‘Organization Name’ Corporation, making it a secretly held organization.</li>
                  
                   <li>Happy food makes customer happy.</li>
                  </ul>
                 </div>
                </div>
               </div>
            </div> <br>
{% endblock %}