{% extends 'delicious/base.html' %}
{% block content %}
<center>
    
    <div class="card"  style="width: 1000px; margin-top: 30px; background-color: black;"> 
    <p style="color: white;">{{msg}}</p>
   <p style="color: white;"> {{error}}</p>
    <form action="{% url 'registration' %}"  method="POST">
       
        {% csrf_token %}
        <h2 style="margin-top: 20px; color: whitesmoke;">Registration Form</h2><br>
    <label for="username" style="margin-right: 250px; color: whitesmoke;">Username:</label><br>
    <input type="text" name="username" placeholder="user name" style="width: 330px;" required><br><br>
     <label for="first_name" style="margin-right: 250px; color: whitesmoke;">First name:</label><br>
     <input type="text" name="first_name" placeholder="First name" style="width: 330px;" required><br><br> 
     <label for="last_name"  style="margin-right: 250px; color: whitesmoke;">Last name:</label><br>
     <input type="text" name="last_name" placeholder="Last name" style="width: 330px;" required><br><br> 
     
     <label for="email" style="margin-right: 290px; color: whitesmoke;">Email:</label><br>
     <input type="email" name="email" placeholder="Email" style="width: 330px;" required><br><br> 
     <label for="password1" style="margin-right: 260px; color: whitesmoke;" >Password:</label><br>
     <input type="password" name="password1" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" style="width: 330px;" required><br><br> 
     <label for="password2" style="margin-right: 200px; color: whitesmoke;">Confirm Password:</label><br>
     <input type="password" name="password2" placeholder="Confirm password" style="width: 330px;" required><br><br> 
     
    <input type="submit" value="Signup" style="color: black; border-color: whitesmoke; width: 100px;"> <br> <br>
   
    
    </form>
    <a href="{% url 'home' %}"><button type="button" class="btn btn-white" style="width: 160px; margin-left: 20px; color: black;"><i class="fas fa-home"></i>Back to home</button></a>
    <br> 
    </div>
</center>
{% endblock %}