{% extends 'delicious/base.html' %}
{% block content %}
{% load static %}
<div style="background-color: black;">
    <div class="container my-5">
        <div class="row">
         <div class="col-sm-6 text-center align-self-center">
          <img src="{% static 'delicious/res.jpg' %}" alt="" class="img-fluid img-thumbnail">
         </div>
         <div class="col-sm-5 offset-sm-1">
          <h2 style="color: white; margin-top: 30px;">Your Registration is done successfully!!</h2>
          <hr>
          <p style="color: white;">Welcome to 'YUMMY TUMMY' World,please do login to order your food.</p> <br>
          
       
           
            
          
          
          
          </ul>
         </div>
        </div>
       </div>
    </div> <br>
{% endblock %}